In [2]:
if True: 
    print ("It's true!")

It's true!

In [3]:
if 3>2:
    print("It's true!")

It's true!

In [4]:
hungry = False

if hungry:
    print("Feed me!")

In [5]:
hungry = False

if hungry:
    print("Feed me!")
else:
    print("I'm not hungry")

I'm not hungry

In [6]:
hungry = True

if hungry:
    print("Feed me!")
else:
    print("I'm not hungry")

Feed me!

In [9]:
loc = "Bank"

if loc == "Auto Shop":
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
else: 
    print("I do not know much")

Money is cool

In [10]:
loc = "Game"

if loc == "Auto Shop":
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
else: 
    print("I do not know much")

I do not know much

In [11]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie")
elif name == "Sammy":
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [12]:
name = "Frankie"

if name == "Frankie":
    print("Hello Frankie")
elif name == "Sammy":
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Frankie

In [13]:
name = "Jordan"

if name == "Frankie":
    print("Hello Frankie")
elif name == "Sammy":
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

In [14]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [15]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [19]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [20]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [21]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [23]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [24]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [26]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [28]:
mylist = [(1,2), (3,4), (5,6),(7,8)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [30]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

Above is an example of tuple unpacking

In [33]:
for a,b in mylist:
    print(a)

1
3
5
7

In [34]:
for a,b in mylist:
    print(b)

2
4
6
8

In [35]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(a)

1
4
7

In [36]:
for a,b,c in mylist:
    print(b)

2
5
8

In [37]:
for a,b,c in mylist:
    print(c)

3
6
9

In [40]:
d = {"k1":1,"k2":2,"k3":3}

for item in d:
    print(item)

k1
k2
k3

Note that above the "in d" only prints the key

In [42]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [43]:
for key,value in d.items():
    print(value)

1
2
3

In [44]:
for value in d.values():
    print(value)

1
2
3

In [46]:
x = 0

while x < 5:
    print(f"the current value of x is {x}")
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [49]:
x = 0

while x < 5:
    print(f"the current value of x is {x}")
    x += 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [51]:
x = 0

while x < 5:
    print(f"the current value of x is {x}")
    x += 1
else:
    print("X is not less than five")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than five

In [52]:
x = 50

while x < 5:
    print(f"the current value of x is {x}")
    x += 1
else:
    print("X is not less than five")

X is not less than five

In [53]:
x = [1,2,3]

for items in x:
    pass

print("I'm skipping this loop without an error for now")

I'm skipping this loop without an error for now

In [54]:
mystring = "Sammy"

for letter in mystring:
    print(letter)

S
a
m
m
y

In [55]:
mystring = "Sammy"

for letter in mystring:
    if letter == "a":
        continue
    print(letter)

S
m
m
y

In [56]:
mystring = "Sammy"

for letter in mystring:
    if letter == "a":
        break
    print(letter)

S

In [57]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [58]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [59]:
mylist = [1,2,3,4,5,6,7,8,9,10]
#one way to make a list

In [60]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [61]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [62]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [63]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [64]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [66]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}". format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [67]:
index_count = 0
word = 'abcde'

for lettter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [68]:
#enumerate to simplify the above - gives you a tuple
#this gives you the index and the value

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [70]:
#you can use tuple unpacking to get the values out of the tuple
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [71]:
for index,letter in enumerate(word):
    print(index)

0
1
2
3
4

In [72]:
for index,letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [76]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b','c']
mylist3 = [100, 200, 300]

In [74]:
#zip function zips items together
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [79]:
#you can zip more than two together
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [81]:
#what about when lists have an unequal amount of values? it only zips together the list as far as the shortest
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [82]:
#you can create list or set or whatever by wrapping the zip function
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [87]:
#the in function can check to see if the value is in a data structure
'x' in [1,2,3]

False

In [84]:
'x' in ['x','y','z']

True

In [86]:
'a' in 'a world'

True

In [88]:
'mykey' in {'mykey':345}

True

In [89]:
d = {'mykey':345}

345 in d.values()

True

In [90]:
345 in d.keys()

False

In [91]:
#mathematical functions that help
mylist = [10,20,30,40,100]

min(mylist)

10

In [92]:
max(mylist)

100

In [93]:
#hit tab to open up the functions in the random library
from random import shuffle

In [94]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [95]:
#shuffle doesn't return anything, so setting htis to a variable won't work
shuffle(mylist)

In [96]:
mylist

[10, 3, 7, 4, 5, 9, 1, 2, 6, 8]

In [97]:
shuffle(mylist)

In [98]:
mylist

[8, 9, 7, 5, 2, 10, 3, 6, 4, 1]

In [99]:
random_list = shuffle(mylist)

In [100]:
random_list

In [101]:
type(random_list)

NoneType

In [102]:
from random import randint

In [103]:
#randint generates random integer from a range
randint(0,100)

92

In [104]:
randint(0,100)

0

In [105]:
mynum = randint(0,10)

In [106]:
mynum

2

In [107]:
input("Enter a number here:")

Enter a number here:50

'50'

In [109]:
#can save the input as a variable
result = input("What is your name?")

What is your name?Meredith

result

In [110]:
#input will always collect the input as a string
result = input("Favorite number: ")

Favorite number: 30

In [112]:
result #string version of 30!

'30'

In [113]:
type(result)

str

In [114]:
float(result)

30.0

In [115]:
int(result)

30

In [116]:
type(result)

str

In [117]:
result

'30'

In [118]:
result = int(result)

In [119]:
result

30

In [120]:
type(result)

int

In [121]:
#list comprehensions

In [122]:
mystring = 'hello'

In [123]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [124]:
mylist

['h', 'e', 'l', 'l', 'o']

In [125]:
#the element variable names need to match - this flattens out a for loop basicallym
mylist = [letter for letter in mystring]

In [126]:
mylist

['h', 'e', 'l', 'l', 'o']

In [127]:
mylist = [x for x in 'word']

In [128]:
mylist

['w', 'o', 'r', 'd']

In [129]:
mylist = [let for let in "wordtwo"]

In [130]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [131]:
mylist = [num for num in range(0,11)]

In [132]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
#you can do operations on the first variable
mylist = [num**2 for num in range(0,11)]

In [137]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [139]:
#you can add if statement at the end to meet some condition
mylist =[x for x in range(0,11) if x%2==0]

In [140]:
mylist

[0, 2, 4, 6, 8, 10]

In [141]:
#combine calculations with if statement -- this case get square of even number in range
mylist =[x**2 for x in range(0,11) if x%2==0]

In [142]:
mylist

[0, 4, 16, 36, 64, 100]

In [143]:
#can do some complex equations -- this converts list in celsius to farenheit
celsius = [0,10,20,34.5]
farenheit = [((9/5)*temp + 32) for temp in celsius]

In [144]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [145]:
#to see how it looks in a for loop
farenheit = []

for temp in celsius:
    farenheit.append(((9/5)*temp + 32))
    
farenheit

[32.0, 50.0, 68.0, 94.1]

In [146]:
#you can use an if than else statements in the list comprehension but they make it hard to read, so not often used

In [147]:
#the order of the if/then statements are backwards; this is also hard to read when you come back to later
results = [x if x%2==0 else "ODD" for x in range (0,11)]

In [148]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [149]:
#nested loops - you'd rather do this than flatten in a list comprehension though that's possible

mylist = []

for x in [2,4,6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [150]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [151]:
mylist = []

for x in [2,4,6]:
    for y in [1, 10, 100]:
        mylist.append(x*y)

In [152]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [153]:
#the above looks like this in list comprehension
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [154]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]